/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%);
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Red Hat Display", sans-serif;
  --second-font: "Kaushan Script", cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}

.program__card {
  display: grid;
  background-color: var(--body-color);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background 0.5s, border 0.4s;
}

.program__img {
  width: 38px;
}

.program__shape {
  width: 50px;
  height: 50px;
  background-color: hsl(79, 6%, 64%);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.5s;
}

.program__title {
  font-size: var(--h3-font-size);
  letter-spacing: 0.5px;
  line-height: 150%;
  color: var(--title-color);
  text-align: center;
}

.program__title,
.program__description {
  transition: color 0.5s;
}
.program__button {
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition: opacity 0.4s;
}

.program__button i {
  display: block;
  transition: transform 0.3s;
}

.program__button:hover i {
  transform: translateX(0.25rem);
}

.program__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.program__card:hover .program__shape {
  background-color: var(--first-color-light);
}

.program__card:hover .program__title,
.program__card:hover .program__description {
  color: var(--title-color-black);
}

.program__card:hover .program__button {
  opacity: 1;
}
